@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;

}

body{ 
    font-family: 'Be Vietnam Pro', sans-serif;
    background: url(./images/bg-tablet-pattern.svg) no-repeat;
	background-position: top -116px right -149px;
	padding-top: 2.875em;
    overflow-x: hidden;
    margin:0; 
}
::-webkit-scrollbar {
    width: 7px;
    height:7px; 
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: hsl(12, 88%, 59%);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    font-weight: bold;
}
.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links a {
    color: hsl(228, 39%, 23%);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10%; 
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
}
.nav-links-mobile{
    display:none ; 
}
.btn-red button{ 
    padding:15px; 
    padding-left:30px; 
    padding-right:30px; 
    font-size:16px;
    color:white; 
    background-color:hsl(12, 88%, 59%); 
    border:none; 
    border-radius:25px;
    font-weight:500;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: hsl(228, 39%, 23%);
    margin: 5px;
    transition: all 0.3s ease;
}

.btn-red button:hover{ 
    background-color:hsl(12, 92%, 66%);
    transition: 0.7s;
    cursor:pointer;
}

section{ 
    height:80vh; 
    display:flex; 
    flex-direction:row; 
}

.sec-2{
    background: url(./images/bg-tablet-pattern.svg) no-repeat;
	background-position: top 300px left -400px;
}

.sec-1-right{ 
    flex:1; 
    display:flex; 
    align-items: center;
    justify-content:center; 
}
.sec-1-left{ 
    flex:1; 
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
}

.p-primary{ 
    font-size:2.5em; 
    font-weight:700; 
    color:hsl(228, 39%, 23%); 
    font-family: 'Be Vietnam Pro', sans-serif;
}

.p-neutral{ 
    font-size:.9em; 
    font-weight:500; 
    color:hsl(227, 12%, 61%) ; 
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-bottom: 1em;
}


.sec-2-left{ 
    flex:1;
    display:flex; 
    flex-direction:column;
    align-items:center;
}

.sec-2-right{ 
    flex:1;
    display:flex; 
    flex-direction:column;
    align-items:center;
}

.sec-3{
    display:flex; 
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    height:100vh ; 
    /* background-color:red; */
}
.sec-3 h1{ 
    font-family: 'Be Vietnam Pro' , sans-serif;
    color:hsl(228, 39%, 23%); 
}

.testimonials{ 
    display:grid; 
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    cursor: pointer;
    width:100%; 
    padding:20px 0 ;  
    grid-gap: 20px 0;
    grid-template-columns: 20px 1fr 20px;
    align-content: start;
    overflow-x:auto; 
}

.testimonials > *{ 
    grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.ts {
    display: grid;
    grid-gap: calc(20px / 2);
    grid-template-columns: 10px repeat(var(--total), calc(50% - 20px * 2)) 10px;
    grid-template-rows: minmax(150px, 1fr);
  
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * 20px);
    margin-bottom: calc(-.25 * 20px);
    list-style: none;
    padding:0 ; 
}

.ts:before,
.ts:after {
  content: '';
}

.ts > li,
.testimonial {
  scroll-snap-align: center;
  padding: calc(10px / 2 * 1.5);
  /* border-radius: 8px; */
}

.sec-4{ 
    display:flex; 
    flex-direction:row; 
    justify-content:space-around;
    align-items:center;
    background-color:#f3603c; 
    height:30vh ;
    color:white; 
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size:20px; 
    background-image: url(./images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-size:cover; 
}
.sec-4 button{ 
    background-color:white; 
    border:0 ; 
    border-radius: 20px;
    color:#f3603c; 
    padding-top:1rem; 
    padding-left:1.5rem; 
    padding-right:1.5rem; 
    padding-bottom:1rem;
}

footer{ 
    background-color:#1d1e25;
    height:40vh; 
    display:flex;
    flex-direction:row; 
}

.fot-1{
    flex:1; 
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}

.fot-logo{ 
    flex:1; 
    display:flex;
    align-items: center;
    justify-content:center;
}
.social-links{
    flex:1; 
    width:100%; 
    height:100%; 
    display:flex; 
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.social-links a{
    padding:1%; 
}

.fot-2{
    flex:1; 
    display:flex; 
    flex-direction:row; 
}

.fot-2 a:hover{ 
    color:hsl(12, 88%, 59%); 
}

.fot-2 a{ 
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size:16px;
    color:white; 
}

.fot-links-right{ 
    flex:1; 
    display:flex; 
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size:16px;
}
.fot-2 li{ 
    margin: 0 0 20px 0;
}
.fot-links-left{
    flex:1; 
    display:flex; 
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size:16px;
}

.fot-3{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.fot-3 input{ 
    border:none; 
    border-radius:20px; 
    padding:5%; 
    font-size:16px; 
    margin:2%;  
    color:white; 
    background-color:white; 
    font-family: 'Be Vietnam Pro', sans-serif;
    color:black; 
}

.fot-3 p{ 
    color:grey ; 
    font-size:10px; 
}

.fot-form{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center; 
    font-family: 'Be Vietnam Pro', sans-serif;
}
.fot-input-btn{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;

}

#error{ 
    color:red; 
    visibility: hidden; 
}

/*text card*/
.text-card{ 
    display:flex; 
    align-items: center;
    flex-direction: row;
    padding:1%; 
    width:100%; 
    /* background-color:red;  */
}

.text-card-left{ 
    flex:1; 
    display:flex; 
    height:100%; 
    width:100%;  
    justify-content:center;
    padding-top:2%; 
    /* background-color:red;  */
    padding-right:5%; 
}

.text-card-left div{ 
    background-color:hsl(12, 88%, 59%); 
    color:white; 
    width:60px;  
    height:40px; 
    border-radius:20px;
    text-align:center;
    display:flex; 
    justify-content:center;
    align-items:center;
}
.text-card-right{
    flex:9; 
    display:flex;
    flex-direction:column;
    height:100%; 
    width:100%; 
}    

.card-text-primary{ 
    font-size:1.5em; 
    font-weight:700; 
    color:hsl(228, 39%, 23%); 
    font-family: 'Be Vietnam Pro', sans-serif;    
    border:0 ; 
    padding:0 ; 
}
.card-text-neutral{ 
    font-size:1em; 
    font-weight:500; 
    color:hsl(227, 12%, 61%) ; 
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-bottom: 1em;
    margin:0 ; 
    padding:0 ; 
    font-weight: 400;
    border:0 ; 
    padding:0 ; 
}

/* rev-card */

.rev-card{ 
    /* background-color:blue;  */
    width:600px; 
    height:350px;
    display:flex; 
    flex-direction:column; 
    /* border:1px solid black; */
    padding-left: 50px ;
    padding-right: 50px;
    text-align: center;
    align-items:center;
}

.rev-card-top{ 
    flex:4; 
    display:flex; 
    width:100%; 
    height:100%; 
    justify-content:center; 
    align-items:center;
}
.avatar{ 
    width:100px; 
    height:100px; 
    position:relative; 
    top:80px;  
    border-radius: 50%;
    background-color:red; 
}

.rev-card-bottom{ 
    flex:6; 
    background-color: #fafafa; 
    width:100%; 
    height:100%; 
    padding-left: 5%;
    padding-right: 5%;
}
.p-primary-rev{
    font-size:1.5em; 
    font-weight:700; 
    color:hsl(228, 39%, 23%); 
    font-family: 'Be Vietnam Pro', sans-serif;    
    border:0 ; 
    padding:0 ; 
    padding-top:10%; 
}
.p-neutral-rev{
    font-size:1em; 
    font-weight:500; 
    color:hsl(227, 12%, 61%) ; 
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-bottom: 1em;
    margin:0 ; 
    padding:0 ; 
    font-weight: 400;
    border:0 ; 
    padding:0 ; 
}

/* mobile view */

@media only screen and (max-width: 700px) {
    *{ 
        text-align: center;
    } 
 
    body{ 
	    background-position: top -241px right -446px;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size:16px;
        color:white;
        overflow-x:hidden;
    } 
    
    ::-webkit-scrollbar {
        width: 0px;
        height:0px; 
    }
 
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
 
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: hsl(12, 88%, 59%);
    }
    
    nav button{
        display:none;  
    } 
    .burger{
        display:block; 
    } 
    .nav-links{
        display: none ; 
    } 
    .nav-links-mobile{
        display:flex;
        visibility: hidden; 
        flex-direction:column; 
        display:block; 
        position:absolute;
        width:90%; 
        max-height:40%; 
        background-color:white;
        top:10%;
        left:5%;
        border-radius:20px;
        z-index:1;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        justify-content:center;
        align-items:center; 
    }
    .nav-links-mobile div{
        text-decoration:none;
        padding:2%; 
    } 
    .nav-links-mobile a{
        text-decoration:none;
        font-size:20px; 
    } 
    .sec-1{ 
        flex-direction: column-reverse; 
        height:100vh; 
        font-family: 'Be Vietnam Pro', sans-serif;
    }
    .sec-1-right{
        align-items:center;
        justify-content:center; 
        max-width:100%; 
    } 
    .sec-2{ 
        /* background: url(./images/bg-simplify-section-mobile.svg) no-repeat; */
	    background-position: top 531px left -496px;
        flex-direction: column; 
        height:120vh; 
        text-align: center;
        font-family: 'Be Vietnam Pro', sans-serif;
    }
    
    .sec-3{ 
        height:99vh; 
        font-family: 'Be Vietnam Pro', sans-serif;
    } 
    .sec-4{ 
        flex-direction: column; 
        width:100%; 
        height:60vh;
    } 
    .text-card{
        
    } 
    .text-card-left div{ 
        position: absolute;
        margin-left:10%;
        padding:5px; 
    } 
    .text-card-right{
        text-align: left !important;
    }
    .card-text-primary{
        font-size:1em; 
        font-weight:700; 
        color:hsl(228, 39%, 23%); 
        font-family: 'Be Vietnam Pro', sans-serif;    
        border:0 ; 
        padding:.4em; 
        background-color:#fff0ec; 
    
    } 
    .card-text-neutral{
        font-size:.9em; 
        font-weight:500; 
        color:hsl(227, 12%, 61%) ; 
        font-family: 'Be Vietnam Pro', sans-serif;
        padding-bottom: 1em;
        margin:0 ; 
        padding:0 ; 
        font-weight: 400;
        border:0 ; 
        padding:0 ; 
        text-align: left;
    } 
    
    footer{ 
        flex-direction: column-reverse;
        height:60vh; 
    }    
    
    .fot-1{
        flex-direction: column-reverse;
    }
    #error{
        visibility: hidden;
        font-size:16px;
    }
    .rev-card{ 
        display:inline-block; 
        width:98%; 
    }
    .testimonials{ 
        display:flex; 
        flex-direction: column; 
        padding-left: 5%;
        padding-right: 5%;
        align-items: center;
        justify-content: center;
    }
    .rev-card-top{ 
        flex:4; 
        display:flex;  
        flex-direction:column;  
        width:100%; 
        height:100%; 
        justify-content:center; 
    }
    .avatar{ 
        width:100px; 
        height:100px; 
        position:relative; 
        top:170px;  
        border-radius: 50%;
        background-color:red; 
    }
    .avatar image{
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
        object-fit: cover;
    }
    .rev-card-bottom{ 
        flex:6; 
        background-color: #fafafa; 
        width:100%; 
        height:100%; 
        padding-left: 5%;
        padding-right: 5%;
    }
    .p-primary-rev{
        font-size:1.5em; 
        font-weight:700; 
        color:hsl(228, 39%, 23%); 
        font-family: 'Be Vietnam Pro', sans-serif;    
        border:0 ; 
        padding:0 ; 
        padding-top:10%; 
    }
    .p-neutral-rev{
        font-size:1em; 
        font-weight:500; 
        color:hsl(227, 12%, 61%) ; 
        font-family: 'Be Vietnam Pro', sans-serif;
        padding-bottom: 1em;
        margin:0 ; 
        padding:0 ; 
        font-weight: 400;
        border:0 ; 
        padding:0 ; 
    }
    .rev-card-bottom div{ 
        text-align: left;
    }

}